@use "../Abstracts/_Variables.scss" as *;
@use "../Abstracts/_Mixins.scss" as mix;
/* ok a part media queries */

/*lodging pics + carousel layout */

.lodging-pic-arrow {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  display: flex;
}
.lodging-pic-arrow .carrousel-img {
  height: 100%;
  max-height: 415px;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  object-position: center;
}

.prev-arrow {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  color: $secondary-color;
  font-size: 1500%;
  margin-left: 10px;
  cursor: pointer;
}

.carrousel-counter {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  @include mix.general-text-carac;
  color: $secondary-color;
  font-weight: 500;
  font-size: 18px;
}

.next-arrow {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  color: $secondary-color;
  font-size: 1500%;
  margin-right: 10px;
  cursor: pointer;
}

.next-arrow :hover {
  cursor: pointer;
}
