@use "../Abstracts/_Variables.scss" as *;
@use "../Abstracts/_Mixins.scss" as mix;

.equip-list {
  list-style: none;
}

.equip-content {
  background-color: $div-bg-color;
  color: #000;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  @include mix.general-text-carac;
  font-weight: 400;
  font-size: 18px;
}

.equip-content ul {
  margin: 0;
  padding-inline-start: 0;
}
