/* ok a part media queries */

@use "../Abstracts/_Variables.scss" as *;
@use "../Abstracts/_Mixins.scss" as mix;

h1 {
  @include mix.general-text-carac;
  font-weight: 700;
  font-size: 288px;
  margin: 0;
  color: $primary-color;
}

.error-page p {
  @include mix.general-text-carac;
  font-weight: 500;
  font-size: 36px;
  color: $primary-color;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 139px;
  padding-bottom: 139px;
}

a {
  text-decoration: none;
  color: black;
  @include mix.general-text-carac;
  font-weight: 500;
  font-size: 18px;
}

.error-page a:hover {
  text-decoration: underline;
}
