/*ok a part media queries*/

@use "../Abstracts/_Mixins.scss" as mix;
@use "../Abstracts/_Variables.scss" as *;

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: $secondary-color;
  flex-direction: column;
  width: 100%;
  height: 209px;
  img {
    padding: 16px 8px;
  }
  div {
    max-width: 34%;
    p {
      font-size: 24px;
      font-weight: 500;
      @include mix.general-text-carac;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  /* will be done later */
  footer div p {
    font-size: $font-size-mobile;
  }
}
