/*ok a part media queries*/

@use "../Abstracts/_Mixins.scss" as mix;
@use "../Abstracts/_Variables.scss" as *;

#root {
  max-width: 1440px;
}
header {
  padding: 45px 100px 50px 100px;
  @include mix.flex-space-between;
  flex-direction: row;
}

.nav-header {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  ul {
    @include mix.flex-space-between;
    gap: 57px;
    li {
      list-style: none;
      @include mix.general-text-carac;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      a {
        font-size: 24px;
      }
      .active {
        text-decoration: underline;
      }
    }
  }
}

.nav-header ul li:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    padding: 20px;
    margin-bottom: 7px;
    img {
      width: 43%;
      height: 100%;
    }
    .nav-header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      ul {
        gap: 26px;
        li {
          font-size: $font-size-mobile;
          a {
            font-size: $font-size-mobile;
          }
        }
      }
    }
  }
}
